<head>
  <title>bwlog</title>
  <meta name="title" content="{{user.user_name}}">
  <meta name="author" content="{{user.user_name}}">
  <meta name="description" content="bwlog | escreva e compartilhe histórias">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.bwlog.dev/">
  <meta property="og:title" content="{{user.user_name}}">
  <meta property="og:description" content="bwlog | escreva e compartilhe histórias">
  <meta property="og:image" content="https://www.bwlog.dev/img/bwlog_banner.png">
</head>

<div class="row center">
  <section class="col-12 col-lg-9">
    <form action="/update" id="form" method="POST" enctype="multipart/form-data">

      <div class="p-2">
        <div class="mx-auto bg rounded-3">
          <!-- Profile widget -->
          <label class="position-absolute top-100 start-0 mx-auto card pointer badge rounded-1 bg-dark border-2 border-secondary"
            for="banner_img">
            <i class="bi fs-6 bi-pencil-square text-center translate-middle"></i>
          </label>
          <input name="banner_img" id="banner_img" type="file" accept="image/*" />
          <img id="bannerImg" src="{{user.banner}}" class="pointer profile_cover_img card-img-top rounded-3" alt="..."
            height="210px" style="object-fit: cover;">
          <div class="card bg rounded-3">
            <section>
              <label class="position-absolute ml-2 mt-3 pointer translate-top card  badge rounded-1 bg-dark border-2 border-secondary"
                style="z-index: 1 ;" for="profile_img">
                <i class="fs-6 bi bi-pencil-square text-center translate-middle"></i>
              </label>
              <input name="profile_img" value="{{user.profile}}" id="profile_img" type="file" accept="image/*" />
              <label for="profile_img">
                <img id="imgProfile" src="{{user.profile}}" class="pointer rounded-3 mx-2"
                  style="object-fit: cover; transform: translateY(-50%);" width="110" height="110">
              </label>

            </section>
          </div>
          <div class="media-body ml-3 px-2 bg text-white rounded-3 " style="transform: translateY(-2rem);"> 
            <div class="form mb-3 rounded-3 bg ">
              <input type="text" name="user_name" id="user_name" minlength="3" required maxlength="10"
                class="form__input rounded-3" autocomplete="off" placeholder=" " value="{{user.user_name}}"
                onchange="activateButton()">
              <label for="user_name" class="form__label rounded-3">{{__ "updateUser.username"}}</label>
            </div>
            <div class="form mb-3" style="height: 100px;">
              <textarea type="text" maxlength="155" minlength="10" name="descricao" id="descricao"
                class="overflow-hidden form__input bg rounded-3" autocomplete="off" placeholder=" " required
                onchange="activateButton()">{{user.descricao}}</textarea>
              <label for="descricao" class="form__label rounded-3">{{__ "updateUser.description"}}</label>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button id="submit" type="submit" class="mt-5 disabled submit btn btn-dark p-2" onclick="">{{__ "new_history.send"}}</button>
        </div>
        <div id="load"></div>
      </div>
    </form>

  </section>
</div>
<script src="../../js/userProfileImg.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>