<head>
  <title>bwlog</title>
  <meta name="title" content="{{user.user_name}}">
  <meta name="author" content="{{user.user_name}}">
  <meta name="description" content="bwlog | escreva e compartilhe histórias">
    <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.bwlog.dev/">
  <meta property="og:title" content="{{user.user_name}}">
  <meta property="og:description" content="bwlog | escreva e compartilhe histórias">
  <meta property="og:image" content="https://www.bwlog.dev/img/bwlog_banner.png">
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="../../css/custom.css" async defer>
<link rel="stylesheet" href="../../css/build.css" async defer>
<form action="/update" id="form" method="POST" enctype="multipart/form-data">

  <div class="row p-3 mt-3">
    <div class="mx-auto">
      <!-- Profile widget -->
      <div class="overflow-hidden">
        <label class="position-absolute top-100 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
          for="banner_img"> <i class="fs-6 bi bi-pencil-square"> </i></label>
        <input name="banner_img" id="banner_img" type="file" accept="image/*" />
        <div id="bannerImg" class="px-3 pt-0 pb-4 rounded-3 mb-2 border border-dark"
          style="background-image: url({{user.banner}}); background-size: cover; background-repeat: no-repeat">
          <div class="media align-items-end profile-head rounded-circle">
            <div class="profile mr-3 position-relative">

              <label class="position-absolute top-0 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
                for="profile_img"> <i class="fs-6 bi bi-pencil-square"> </i></label>
              <input name="profile_img" id="profile_img" type="file" accept="image/*" />

              <label for="profile_img">
                <img id="imgProfile" src="{{user.profile}}" alt="..." width="110"
                  class="rounded-3 border-3 border-dark shadow-lg" style="object-fit: cover;" />
              </label>
            </div>
            <div class="media-body mb-4 text-white position-relative">
              <label for="user_name"
                class="position-absolute top-0 start-12 translate-middle badge p-2 bg-secondary rounded-circle"
                for="profile">
                <i class="fs-6 bi bi-pencil-square"> </i>
              </label>
              <input id="user_name" minlength="4" required maxlength="10"
                class="overflow-hidden text-white mt-1 mb-1 input-name" type="text" name="user_name" autocomplete="off"
                value="{{user.user_name}}" onchange="activateButton()" />
              <p class="small mb-4">
                <i class="fas fa-map-marker-alt mr-2"></i>#
                {{user.id}}
              </p>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <h5 class="mb-1 mt-2 text-white">Sobre</h5>
          <div class="p-4 mt-4 rounded shadow-sm bg position-relative">
            <label for="descricao"
              class="position-absolute top-0 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
              for="profile">
              <i class="fs-6 bi bi-pencil-square"> </i>
            </label>
            <textarea placeholder=" " name="descricao" id="descricao" type="text"
              class="form-text mb-3 p-2 rounded-3 mx-auto bg" required onchange="activateButton()"
              rows="3">{{user.descricao}}</textarea>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button id="submit" type="submit" class="mt-5 disabled submit btn btn-dark p-2" onclick="">Enviar</button>
        </div>
        <div id="load"></div>
      </div>
    </div>
  </div>
</form>

<script src="../../js/userProfileImg.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>