
{{> _markdownCss}}

<head>
  <title>{{__ "new_history.create_history"}}</title>
</head>
<div class="row">
  <section class="col-12 col-lg-9  mt-4 rounded-3">
    <form action="/add" method="POST" class="p-1" id="form" enctype="multipart/form-data"  onsubmit="setContent();">
    <h4 class="text-white text-card mb-4 p-2"> <strong>{{__ "new_history.create_history"}}</strong></h4>
      <label for="bannerInput" class="center pointer bg mx-2 text-white">{{__ "new_history.banner_img"}}
        <i class="m-1 p-2 bi bi-image"></i>
      </label>
      <label for="bannerInput" class="pointer m-2 center">
        <img id="postBannerImg" class="pointer post_cover_img border border-secondary" src=""="removeBtn()">
      </label>
      <input name="bannerInput" id="bannerInput" type="file" accept="image/*" />
      <button hidden id="remove" onclick="resetInput()" type="button" class="pointer btn center m-2 mb-4 bg text-danger">{{__ "new_history.remove_banner"}}</button>

      
      <div class="form mb-3 pointer p-2 mx-auto rounded-3 bg mt-1">
        <input type="text" name="titulo" id="titulo" class="pointer form__input rounded-3" maxlength="80" autocomplete="off"
          placeholder=" " required>
        <label for="titulo" class="pointer form__label rounded-3">{{__ "new_history.title"}}</label>
      </div>
     <div class="form mb-3 p-2 mx-auto">
        <input type="text" id="descricao" name="descricao" class="form__input bg rounded-3" maxlength="60"
          autocomplete="off" placeholder=" " required>
        <label for="descricao" class="form__label rounded-3">{{__ "new_history.mini_resume"}}</label>
      </div>
      <div class="mb-4 m-1" style="padding: 0.2rem !important;">
        <div id="editor"></div>
      </div> 
      <input id="conteudo" name="conteudo" type="hidden" /> 

      <div class="mb-3 mt-3" style="padding: 0.2rem !important;">
        <label for="textlist" class="form-label text-white" for="textlist">{{__ "new_history.add_textlist"}}: <a class="text-info"
            href="/novo/textlist" target="_blank" style="text-decoration: none;" rel="noopener noreferrer">{{__ "new_history.create_textlist"}}</a> </label>
        <select class="form-select bg text-white border border-secondary" id="textlist" name="textlist">
          <option selected value="NULL"> {{__ "new_history.without_textlist"}} </option>
          {{#each textlist}}
          <option value="{{id}}"> {{titulo}} </option>
          {{/each}}
        </select>

      </div>
      <input id="publicado" name="publicado" type="hidden" name="publicado" value="0" />
      <input id="btn-enviar" type="submit" onclick="this.form.publicado.value=1;" class="mb-3 btn-submit btn btn-light mx-1"
        value="{{__ "new_history.send"}}">
      <input id="btn-rasc" type="submit" class="btn btn-dark mx-1 mb-3" value="{{__ "new_history.sketch"}}">
      <div id="load" class="bg-dark mb-3 ">
      </div>
    </form>
  </section>
  <div class="col-12 col-lg-3 position-fixed end-0 mt-4 mr-5 display-mobile hidden-margin">
    {{>_helpPost}} 
  </div>
</div>

{{>_markdownJs}}  
<script>
  let editor = window.previewRender('', 'newHistory');
  async function setContent() {
    document.getElementById("conteudo").value = await editor.getMarkdown();
  }
</script>
<script src="../../js/getBannerPost.js"></script>
