{{> _markdownCss}}

<head>
  <title>{{post.dataValues.titulo}}</title>
  <script>
    function addBtn() {
      document.getElementById("remove").removeAttribute("hidden");
    }
  </script>
</head>
<div class="row">
  <section class="col-12 col-lg-9 mt-4">
    <form action="/update/{{post.dataValues.u_id}}" method="POST" class="p-3" id="form" enctype="multipart/form-data" onsubmit="setContent();">
      <h4 class="text-white text-card mb-4 p-2"> <strong>{{__ "new_history.edit_history"}}</strong></h4>
      <label for="bannerInput" class="pointer center bg m-2 mb-2 text-white">{{__ "new_history.banner_img"}}
        <i class="m-1 p-2 bi bi-image"></i>
      </label>
      <label for="bannerInput" class="m-2 center">
        <img onload="addBtn();" id="postBannerImg" class="pointer post_cover_img mb-2 border border-secondary"
          src="">
      </label>
      <input name="bannerInput" id="bannerInput" type="file" accept="image/*" />
      <button hidden id="remove" onclick="resetInput()" type="button"
        class="pointer btn center m-2 mb-4 bg text-danger">{{__ "new_history.remove_banner"}}</button>

      <div class="form mb-3 p-2 my-3 mx-auto rounded-3 bg">
        <input type="text" id="titulo" name="titulo" class="rounded-3 form__input" autocomplete="off" maxlength="80" placeholder=" " value="" required onchange="">
        <label for="titulo" class="form__label rounded-3">{{__ "new_history.title"}}</label>
      </div>

      <div class="form mb-3 p-2 mx-auto">
        <input type="text" id="descricao" name="descricao" class="form__input bg rounded-3" maxlength="60"
          autocomplete="off" placeholder=" " value="" required>
        <label for="descricao" class="form__label rounded-3">{{__ "new_history.mini_resume"}}</label>
      </div>

      <div class="mb-4 m-1 bg" style="padding: 0.2rem !important;">
        <div class="fw-5" id="editor"></div>
      </div>
      <input id="conteudo" name="conteudo" type="hidden" />

      <div class="mb-3 mt-3" style="padding: 0.2rem !important;">
        <label class="form-label text-white" for="floatingInput">{{__ "new_history.add_textlist"}}: <a class="text-info"
            href="/novo/textlist" target="_blank" style="text-decoration: none;" rel="noopener noreferrer">{{__
            "new_history.create_textlist"}}</a> </label>
        <select class="form-select bg text-white border-secondary" name="textlist">

          {{#if haveTextlist}}
          <option value="{{textlistPost.id}}">{{textlistPost.titulo}}</option>
          {{/if}}
          <option value="NULL"> {{__ "new_history.without_textlist"}} </option>

          {{#each textlist}}
          <option value="{{id}}"> {{titulo}} </option>
          {{/each}}

        </select>
      </div>

      <input id="publicado" name="publicado" type="hidden" name="publicado" value="0" />
      <input id="btn-enviar" type="submit" onclick="this.form.publicado.value=1" class="btn-submit btn btn-light mx-1"
        value="{{__ "new_history.send"}}">
      <input id="btn-rasc" type="submit" class="btn btn-dark mx-1" value="{{__ "new_history.sketch"}}">
      <div id="load" class="bg-dark">

      </div>
    </form>

  </section>
  <div class="col-12 col-lg-3 position-fixed end-0 mt-4 mr-5 display-mobile hidden-margin">
    {{>_helpPost}}
  </div>
</div>
{{>_markdownJs}}
<script>
  let editor = window.editorRender(`{{{conteudo}}}`, '{{post.dataValues.u_id}}');
  let returnFields = window.renderFields('{{post.dataValues.u_id}}', '{{post.dataValues.descricao}}' ,'{{post.dataValues.titulo}}');
  returnFields.renderSummary();
  returnFields.renderTitle();
  returnFields.saveTitle();
  returnFields.saveSummary();

  async function setContent() {
    document.getElementById("conteudo").value = await editor.getMarkdown();
  }
</script>

<script defer src="../../js/getBannerPost.js"></script>