{{> _metaTagsPost}}

<div class="bg rounded-3 mt-1 mb-5 p-1 m-1">
  <img class="post_cover_img" src="{{post.banner_img}}" alt="" width="1000" height="420">
  <section class="mx-2 mt-3 w-auto">
    <div class="d-flex align-items-center my-2 text-light border border-dark rounded-pill">
      <div class="flex-shrink-0">
        <img class="rounded-circle border border-secondary" src="{{post.user.profile}}" width="55" height="55"
          style="object-fit: cover;" alt="profile picture">
      </div>
      <div class="flex-grow-0 float-start text-profile">
        <a class="ml-4 text-white-50 fs-6" href="/autor/{{post.user.id}}/{{post.user.user_name}}">
          {{post.user.user_name}}
        </a>
      </div>
    </div>
  </section>
  <div class="card-body">
    <div class="text-white">
      <h1 class="mb-3 fs-1 text-menu not-overflow-text" style="margin-top: 30px; font-size: 1.875rem !important;">{{post.titulo}}</h1>
    </div>
    <hr class="text-white-50 shadow-lg mb-5">
    <section class="text-white-50 ck-content">
      <article class="ck-content not-overflow-text" style="font-size: 1.125rem !important;">
        {{{post.conteudo}}}

      </article>
    </section>
    <p class="text-secondary mt-2 fst-italic fs-6 text-end">
      publicado em: {{#formatDate post.createdAt}}{{/formatDate}}
    </p>
    {{#if post.editado}}
    <p class="fw-light fst-normal text-blue text-end">
      post editado
    </p>
    {{/if}}
  </div>
  <section class="center bg mb-3">
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style bg" data-a2a-url="https://www.bwlog.dev/post/{{post.slug}}"
      data-a2a-title="{{post.titulo}}">
      <a class="a2a_button_copy_link"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_telegram"></a>
      <a class="a2a_button_whatsapp"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
  </section>
</div>

{{#if haveTextlist}}
<div class="card bg text-light border-dark rounded-2 mb-4">
  <div class="card-body d-grid bg">
    <h5 class="card-title">Este texto está na textlist <strong class="text-info">{{textlist.titulo}}</strong>
    </h5>
    <a href="/textlist/{{textlist.id}}/{{textlist.slug}}" class="btn btn-dark">Ler Mais</a>
  </div>
</div>
{{/if}}

<div class="card bg text-light mb-4 border-dark rounded-2">
  <div class="card-body bg d-grid">
    <h5 class="card-title">Discuta sobre o texto no fórum</h5>
    <p class="card-text">Compartilhe o que pensou :)</p>
    <a href="/forum/{{post.id}}/{{post.titulo}}" class="btn btn-dark">Participar</a>
  </div>
</div>
<center><a href="https://livetrafficfeed.com/website-counter" data-time="America%2FBahia" data-root="1" id="LTF_counter_href">Free Blog Counter</a><script type="text/javascript" src="//cdn.livetrafficfeed.com/static/static-counter/live.v2.js"></script><noscript><a href="https://livetrafficfeed.com/website-counter">Free Blog Counter</a></noscript></center>
<script async charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=bf291e547c66f038752f20"></script>
<script async>
  document.querySelectorAll('oembed[url]').forEach(element => {
    iframely.load(element, element.attributes.url.value);
  });
</script>
<script async src="../../js/prism.js"></script>