<script src="/ckeditor/build/ckeditor.js"></script>


<form class="new-post mt-2 p-2 was-validated" action="/addcomments" method="POST">
  <div class="form mb-3 mx-auto">
    <fieldset disabled>
      <input  type="text" name="autor" class="form__input text-white-50 p-3" autocomplete="off" placeholder=" " value="{{user.name}}">
      <label class="form__label ">Autor(a)</label>
    </fieldset>
  </div>
  <div class="mb-1 p-1">
    <label for="validationTextarea" class="form-label text-light">Comentario</label>
    <textarea name="conteudo" class="form-control is-invalid" id="validationTextarea" ></textarea>
    <div class="invalid-feedback">
      Por favor, insira um comentário.
    </div>
  </div>
  <div class="form mx-auto visually-hidden invisible">
    <input type="text" name="slug" class="form__input" placeholder=" " autocomplete="off" value="{{slug}}">
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary rounded-3 text-light mx-1" type="submit"id="button-addon2">
      <i class="bi bi-arrow-right-short fs-6 fw-bold text-white"></i>
    </button>
  </div>         
</form>
<hr class="text-white-50 my-5">
{{#each comments}}
  <div class="bg-dark  rounded-3 mt-2 p-2">
    <section class=" w-auto rounded-3 shadow">
      <div class="d-flex align-items-center text-light rounded-3 border-3 border-top p-1 border-secondary ">  
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50 border border-secondary"src="{{dataValues.foto}}" alt="profile picture">

        </div>
        <div class=" text-profile-forum">
          <a class="text-white-50 fs-6 " href="/autor/{{dataValues.id_user}}">
            {{dataValues.autor}}
          </a>
        </div>
      </div>

    </section>
    <div class="card-body shadow-lg rounded-3 border-1 border-bottom border-secondary mb-3  ">
      <section class="text-white-50 p-2 ck-content">
        {{{dataValues.conteudo}}}
        <hr>
        <p class="text-white-50 card-text fw-light fst-italic fs-6 ">
          Publicado em: {{#formatDate dataValues.createdAt}}{{/formatDate}}  {{#if dataValues.editado}}<small class="fw-light fst-normal text-blue mx-1"> post editado</small> {{/if}}
        </p>
      </section>
    </div>
  </div>
{{else}}
{{/each}}
{{> _ckeditorJs}}
