<script src="/ckeditor/build/ckeditor.js"></script>
<link rel="stylesheet" href="/css/content-styles.css">

<div class="loader">
  <div class="text-center">
    <div class="spinner-border text-light" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{{#each edit}}
  <form action="/update/{{dataValues.id}}" method="POST" class="p-3" id="formEdit">

    <div class="form mb-3 p-2 mx-auto">
      <fieldset disabled>
        <input  type="text" name="autor" class="form__input text-white-50 p-3" autocomplete="off" placeholder=" " value="{{dataValues.autor}}">
        <label class="form__label ">Autor(a)</label>
      </fieldset>
    </div>

		<hr class="text-dark">

    <input disabled type="text" name="email" class="visually-hidden-focusable d-none form-control" id="floatingInput" value="{{dataValues.email}}">
    <input disabled type="text" name="foto" class="visually-hidden-focusable d-none form-control" id="floatingInput" value="{{dataValues.foto}}">

		<div class="form mb-3 p-2 mx-auto">
			<input type="text" name="titulo" class="form__input" autocomplete="off" placeholder=" " value="{{dataValues.titulo}}" required>
			<label class="form__label">Título</label>
		</div>
		
		<hr class="text-dark">

		<div class="form-text mb-3 p-2 mx-auto">
			<textarea type="text" name="descricao" class="form__input" autocomplete="on" placeholder=" " required>{{dataValues.descricao}}</textarea>
			<label class="form__label">Tags</label>
		</div>
		

    <div class="mb-3 p-2">
      <label class="form-label text-light">Conteudo do post</label>
      <textarea name="conteudo" class="ck-content" id="validationTextarea">
        {{{dataValues.conteudo}}}
      </textarea>
    </div>

  <div class="mb-3 p-2 bg-dark">
    <label class="form-label text-light bg-dark" for="floatingInput">Salvar como:</label>
    <select class="form-select bg-dark text-light border-2 border-secondary" name="publicado" required>
      <option value="true">Publico</option>
      <option value="false">Privado</option>
    </select>
  </div>
  <select class="visually-hidden-focusable form-select bg-dark text-light border-2 border-secondary" name="editado">
    <option value="true">Editado</option>
  </select>
    <button type="submit" class="btn btn-primary mx-2">Enviar</button>
  </form>
{{/each}}

{{> _ckeditorJs}}
