<script src="/static/ckeditor/build/ckeditor.js"></script>
{{#each edit}}
  <form action="/update/{{dataValues.id}}" method="POST" class="p-3">
    <div class="mb-3 p-2">
      <label class="form-label text-light">Slug</label>
      <input type="text" name="slug" class="form-control" value="{{dataValues.slug}}"> 
    </div>

    <div class="mb-3 p-2">
      <label class="form-label text-light">Titulo</label>
      <input type="text" name="titulo" class="form-control" value="{{dataValues.titulo}}">
    </div>

    <div class="mb-3 p-2">
      <label class="form-label text-light">Descrição</label>
      <textarea name="descricao" class="form-control"  rows="2">{{dataValues.descricao}}</textarea>
    </div>  

    <div class="mb-3 p-2">
      <label class="form-label text-light">Conteudo do post</label>
      <textarea name="conteudo" class="form-control" id="conteudo">{{dataValues.conteudo}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mx-2">Enviar</button>
  </form>
{{/each}}
<script>ClassicEditor
    .create( document.querySelector( '#conteudo' ), {
      
      toolbar: {
        items: [
          'undo',
          'redo',
          '|',
          'bold',
          'italic',
          'underline',
          'fontFamily',
          'fontSize',
          '|',
          'fontColor',
          'highlight',
          '|',
          'bulletedList',
          'numberedList',
          '|',
          'outdent',
          'indent',
          'alignment',
          '|',
          'horizontalLine',
          '|',
          'code'
        ]
      },
      language: 'pt-br',
      licenseKey: '',
      
      
      
    } )
    .then( editor => {
      window.editor = editor;
  
      
      
      
    } )
    .catch( error => {
      console.error( 'Oops, something went wrong!' );
      console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
      console.warn( 'Build id: v89nm3xcoi1i-xyd3twi9ywa' );
      console.error( error );
    } );
</script>
