<script src="/ckeditor/build/ckeditor.js"></script>
{{#each edit}}
  <form action="/update/{{dataValues.id}}" method="POST" class="p-3" id="formEdit">

    <div class="mb-3 p-2">
      <label class="form-label text-light" for="floatingInput">Autor(a)</label>
      <input type="text" name="autor" class="form-control" id="floatingInput" value="{{dataValues.autor}}">
    </div>

    <input disabled type="text" name="email" class="visually-hidden-focusable d-none form-control" id="floatingInput" value="{{dataValues.email}}">
    <input disabled type="text" name="foto" class="visually-hidden-focusable d-none form-control" id="floatingInput" value="{{dataValues.foto}}">

    <div class="mb-3 p-2">
      <label for="floatingInput" class="form-label text-light">Slug</label>
      <input type="text" name="slug" class="form-control" id="floatingInput" value="{{dataValues.slug}}"> 
    </div>

    <div class="mb-3 p-2">
      <label for="floatingInput" class="form-label text-light">Título</label>
      <input type="text" name="titulo" class="form-control" id="floatingInput" value="{{dataValues.titulo}}">
    </div>

    <div class="mb-3 p-2">
      <label for="floatingInput" class="form-label text-light">Descrição</label>
      <textarea name="descricao" class="form-control" id="floatingInput" rows="2">{{dataValues.descricao}}</textarea>
    </div>  

    <div class="mb-3 p-2">
      <label class="form-label text-light">Conteudo do post</label>
      <textarea name="conteudo" class="form-control" id="conteudo">{{dataValues.conteudo}}</textarea>
    </div>

    <div class="mb-3 p-2">
      <label class="form-label text-light" for="floatingInput">Salvar como:</label>
      <select class="form-select mb-3 p-2" name="publicado" required>
        <option class="mb-3 p-2" value="1">Publicar</option>
        <option class="mb-3 p-2" value="0">Salvar como rascunho</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mx-2">Enviar</button>
  </form>
{{/each}}

<script>ClassicEditor
			.create( document.querySelector( '#conteudo' ), {
				
				toolbar: {
					items: [
						'undo',
						'redo',
						'|',
						'bold',
						'underline',
						'italic',
						'|',
						'alignment',
						'|',
						'outdent',
						'indent',
						'|',
						'todoList',
						'bulletedList',
						'numberedList',
						'|',
						'fontFamily',
						'fontSize',
						'fontColor',
						'|',
						'code',
						'horizontalLine',
						'|'
					]
				},
				language: 'pt-br',
				licenseKey: '',
				
				
				
			} )
			.then( editor => {
				window.editor = editor;
		
				
				
				
			} )
			.catch( error => {
				console.error( 'Oops, something went wrong!' );
				console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
				console.warn( 'Build id: 124s41fvxfoy-5sy8gb4yjfv' );
				console.error( error );
			} );
	</script>