  <div class=" new-post ">
    <a class="link-secondary "href="/cad">
      <div class="input-group shadow">
        <input type="text" class="form-control bg-dark rounded-start border-1 border-secondary"placeholder="compartilhe momentos, escreva {{user.dataValues.autor}}" aria-describedby="button-addon2">
        <button class="btn btn-success rounded-end text-light m-auto" type="button" id="button-addon2">
          <i class="bi text-white bi-plus-circle"></i>
        </button>
      </div>
    </a>
  </div>


<section class="row p-1">
  {{#each posts}}
      <div class="col-sm-4  rounded-3">
        <div class="card bg-dark m-2 shadow text-center">
          <div class="card-body px-3 ">
            <h1 class="card-title text-light mb-2">{{dataValues.titulo}}</h1>
            <small class="text-secondary mt-1">Postado por: {{dataValues.autor}}</small>
            <p class="card-text text-info">{{dataValues.descricao}}</p>
            <a href="/posts/{{dataValues.slug}}" class="btn shadow btn-success text-light">Ler Mais!</a>
            <a href="/edit/{{dataValues.id}}" class="btn btn-primary mx-1">editar</a>        
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Deletar
            </button>
            <hr class="text-light">
          </div>
        </div>
      </div>
  {{/each}}
</section>

{{#each posts}}
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="staticBackdropLabel">Deseja Deletar?</h5>
          <button type="button" class="btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          ATENÇÃO, ao clicar em deletar o post será permanentemente excluido do banco de dados.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
          <a href="/deletar/{{dataValues.id}}">
            <button type="button" class="btn btn-danger mx-1">Deletar</button>
          </a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
