{{#each posts}}
  <section class="mx-2 py-1 px-3 my-3 w-auto shadow rounded-3">
    <div class="d-flex align-items-center my-2 text-light ">
      <div class="flex-shrink-0">
        <img class="rounded-circle w-50 border border-secondary"src="{{dataValues.foto}}" alt="profile picture">
      </div>
      <div class="flex-grow-0 float-start text-profile">
        <a href="/perfil/{{id_user}}">
          {{dataValues.autor}}
        </a>
      </div>
      
    </div>
  </section>
  <div class="card bg-dark mx-2 shadow">
    <div class="card-body px-3">
      <div class="text-light"> 
        <h2 class="mb-3">{{dataValues.titulo}}</h2>
      </div>
      <div class="text-light mt-2">
        {{{dataValues.conteudo}}}
      </div>
      <hr class="text-light">
    </div>
  </div>
{{/each}}
