{{#each posts}}

  <div class="bg-dark rounded-3 mt-1">
    <section class=" mx-2 mt-3 w-auto rounded-pill shadow">
      <div class="d-flex align-items-center my-2 text-light ">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50 border border-secondary"src="{{dataValues.foto}}" alt="profile picture">
        </div>
        <div class="flex-grow-0 float-start text-profile">
          <a class="text-white-50 fs-6" href="/autor/{{dataValues.id_user}}">
            {{dataValues.autor}}
          </a>
        </div>
      </div>
    </section>
    <div class="card-body px-4">
      <div class="text-white"> 
        <h2 class="mb-3">{{dataValues.titulo}}</h2>
      </div>
      <hr class="text-white-50 shadow-lg">
      <div class="text-white-50 mt-2">
        {{{dataValues.conteudo}}}
        <p class="text-white-50 card-text fw-light fst-italic fs-6 mx-auto text-center">
          Publicado em: {{#formatDate dataValues.createdAt}}{{/formatDate}}  {{#if dataValues.editado}}<small class="fw-light fst-normal text-blue mx-1"> post editado</small> {{/if}}</p>
        <hr class="mx-5">
      </div>
    </div>
  </div>
  <section class="p-4 ">
    <div class="bg-dark ">
      <img src="/img/forum.png" class="card-img-top" alt="...">
        <div class="d-grid gap-2">
            <button class="btn btn-primary">
              <a class="text-white" href="/{{dataValues.slug}}/forum">
                Participe Do Fórum
              </a>
            </button>
        </div>
      </div>
    </div>
  </section>
{{else}}
{{> _404}}
{{/each}}
{{> _newPost}}
{{> _loadingPage}}

