{{#each posts}}

  <div class="bg-dark shadow-sm rounded-3 mt-1">
    <section class=" mx-2 mt-3 w-auto rounded-pill shadow">
      <div class="d-flex align-items-center my-2 text-light ">
        <div class="flex-shrink-0">
          <img class="rounded-circle w-50 border border-secondary"src="{{dataValues.foto}}" alt="profile picture">
        </div>
        <div class="flex-grow-0 float-start text-profile">
          <a class="text-white-50 fs-6" href="/autor/{{dataValues.id_user}}">
            {{dataValues.autor}}
          </a>
        </div>
      </div>
    </section>
    <div class="card-body px-4">
      <div class="text-white"> 
        <h2 class="mb-3">{{dataValues.titulo}}</h2>
      </div>
      <hr class="  text-white-50">
      <div class="text-white-50 mt-2">
        {{{dataValues.conteudo}}}
        <hr>
        <p class="text-white-50 card-text fw-light fst-italic fs-6 ">
          Publicado em: {{#formatDate dataValues.createdAt}}{{/formatDate}}  {{#if dataValues.editado}}<small class="fw-light fst-normal text-blue mx-1"> post editado</small> {{/if}}</p>
      </div>
    </div>
  </div>
{{else}}
<section class="row row-cols p-1 bg-dark my-5">
  <div class="col rounded-3 mb-1">
    <div class="card bg-dark mb-3">
      <img src="/img/404.png" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-white-50">
        <h5 class="card-title bg-dark">Houve um erro ao tentar acessar a pagina</h5>
        <a class="card-text" href="/">
          <button class="my-2 btn btn-primary">Voltar para home</button>
        </a>
      </div>
    </div>
  </div>
</section>
{{/each}}
{{> newPostPartial}}
