<link rel="stylesheet" href="../../css/ckeditor.css" async-defer>
<script async-defer src="../../ckeditor/build/ckeditor.js"></script>

  <form action="/update/{{post.dataValues.id}}" method="POST" class="p-3" id="formEdit">

		<hr class="bg">

		<div class="form mb-3 p-2 mx-auto rounded-3 bg">
			<input type="text" name="titulo" class="rounded-3 form__input" autocomplete="off" maxlength="40" placeholder=" " value="{{post.dataValues.titulo}}" required>
			<label class="form__label rounded-3">Título</label>
		</div>
		
		<hr class="bg">

		<div class="form-text mb-3 p-2 rounded-3 mx-auto bg">
			<textarea type="text" name="descricao" maxlength="46" class="form__input" autocomplete="on" placeholder=" " required>{{post.dataValues.descricao}}</textarea>
			<label class="form__label rounded-3">Descriçao</label>
		</div>
		

    <div class="mb-3 rounded-3 p-2">
      <label class="form-label text-light">Conteudo do post</label>
      <textarea name="conteudo" class="ck-content" id="validationTextarea">
        {{{post.dataValues.conteudo}}}
      </textarea>
    </div>
    <div class="mb-3 p-2">
      <label class="form-label text-white" for="floatingInput">Adcianar à textlist:  <a class="ml-5 text-info float-end" href="/novo/textlist" target="_blank" style="text-decoration: none;" rel="noopener noreferrer">Crie uma textlist</a> </label>
      <select class="form-select bg text-white border-secondary" name="textlist">
        {{#if haveTextlist}}
          <option value="{{textlistPost.dataValues.id}}">{{textlistPost.dataValues.titulo}}</option>
        {{/if}}
          <option value="NULL"> Sem Textlist </option>
        {{#each textlist}}
          <option value="{{dataValues.id}}"> {{dataValues.titulo}} </option>
        {{/each}}

      </select>
    </div>
    <div class="mb-3 rounded-3 p-2">
      <label class="form-label text-light" for="floatingInput">Salvar como:</label>
      <select class="form-select bg text-light border-secondary" name="publicado" required>
        <option value="true">Publico</option>
        <option value="false">Rascunho</option>
      </select>
    </div>

    <button type="submit" class="btn btn-light mx-2">Enviar</button>
  </form>
 


{{> _ckeditorJs}}