<head>
    <title>{{titulo}}</title>
    <meta name="title" content="the-bwlog{{titulo}}">
    <meta name="description" content="escreva e compartilhe suas hist贸rias.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://the-bwlog.herokuapp.com/">
    <meta property="og:title" content="{{titulo}}">
    <meta property="og:description" content="escreva e compartilhe suas hist贸rias.">
    <meta property="og:image" content="https://i.ibb.co/3mgvcKk/the-bwlog.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://the-bwlog.herokuapp.com/">
    <meta property="twitter:title" content="{{titulo}}">
    <meta property="twitter:description" content="escreva e compartilhe suas hist贸rias.">
    <meta property="twitter:image" content="https://i.ibb.co/3mgvcKk/the-bwlog.png">
</head>
<section class="p-2 mx-2 mt-4">
  <h2 class="text-light">F贸rum do texto <span class="text-info">{{titulo}}</span></h2>

  {{> _disques}}

  {{> _newPost}}

</section>