<section class=" mx-2 mt-3 w-auto rounded-pill shadow-lg bg">
  <div class="d-flex align-items-center my-2 text-light border border-dark rounded-pill">
    <div class="flex-shrink-0">
      <img class="rounded-circle w-50 border border-secondary"src="{{user.foto}}" alt="profile picture">
    </div>
    <div class="flex-grow-0 float-start text-profile">
      <a class="link-secondary text-white-50" href="# ">
        {{posts.dataValues.user_name}}
      </a>
      <div hidden class="visually-hidden invisible g-signin2 " SignIndata-theme="dark" ></div>
      <a href="/logout" class="btn shadow btn-danger text-light btn-sm rounded-3 mx-2" onclick="signOut()">
        Sair
      </a>
    </div>
  </div>
  </div>
</section>

<div class=" new-post p-2 text-light">
  <div class="card text-white bg">
    <div class="card-body fw-bold">
      Suas histórias:
    </div>
    <div class="new-post p-2 ">
      <ul class="nav nav-pills nav-justified mb-3 " id="pills-tab" role="tablist">
        <li class="nav-item " role="presentation">
          <button class="nav-link active shadow border-3" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Publicas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link shadow border-3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Privadas</button>
        </li>
        
      </ul>
    </div>
  </div>
</div>
<div class="tab-content " id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <section class="row row-cols-md-1">
      {{#each posts}}
        {{#if dataValues.publicado}}
          <div class="col-lg-6 rounded-3 mb-3">
            <div class="card m-2 shadow text-center">
              <div class="card-body px-3 bg">
                <h2 class="card-title text-titulo text-light mb-2">{{dataValues.titulo}}</h2>
                <p class="card-text text-info text-format" style="margin-bottom: 0;">{{dataValues.descricao}}</p>
                <small class="text-secondary mt-1">by: {{user.dataValues.user_name}}</small>
                <div class="d-grid gap-2 p-3" role="group">
                  <a href="/posts/{{dataValues.slug}}" class="text-white btn shadow btn-outline-dark fw-bold border-secondary">Ler</a>
                  <a href="/edit/{{dataValues.id}}" class="btn btn-outline-dark border-secondary text-white fw-bold">Editar</a>
                  <button type="button" class="btn btn-outline-dark border-secondary fw-bold text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Deletar
                  </button>                  
                </div>
              </div>
            </div>
          </div>
        {{/if}} 
      {{/each}}
    </section>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <section class="row row-cols-md-1">
      {{#each posts}}
        {{#unless dataValues.publicado}}
          <div class="col-lg-6 rounded-3 mb-3">
            <div class="card m-2 shadow text-center ">
              <div class="card-body px-3 bg">
                <h2 class="card-title text-titulo text-light mb-2">{{dataValues.titulo}}</h2>
                <p class="card-text text-info text-format" style="margin-bottom: 0;">{{dataValues.descricao}}</p>
                <small class="text-secondary mt-1">by: {{dataValues.autor}}</small>
                <div class="d-grid gap-2 p-3" role="group">
                  <a href="/posts/preview/{{dataValues.slug}}" class="text-white btn shadow btn-outline-dark fw-bold border-secondary">Ler</a>
                  <a href="/edit/{{dataValues.id}}" class="btn btn-outline-dark border-secondary text-white fw-bold">Editar</a>
                  <button type="button" class="btn btn-outline-dark border-secondary fw-bold text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Deletar
                  </button>                  
                </div>
              </div>
            </div>
          </div>
        {{/unless}}   
      {{/each}}
    </section>
  </div>
</div>
{{#each posts}}
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog text-secondary">
      <div class="modal-content bg text-secondary">
        <div class="modal-header bg text-secondary">
          <h5 class="modal-title text-danger" id="staticBackdropLabel">Deseja Deletar?</h5>
          <button type="button" class="btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-white-50">
          ATENÇÃO, ao clicar em deletar o post será permanentemente excluido do banco de dados.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
          <form action="/deletar/{{dataValues.id}}" method="POST">
            <button type="submit" class="btn btn-danger mx-1">Deletar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{> _newPost}}
<script>
function signOut() {

  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
    console.log('User signed out.');
  });
}
</script>