<form action="/update" method="POST" enctype="multipart/form-data">

  <div class="row p-2">
    <div class="mx-auto"> 
      <!-- Profile widget -->
      <div class="overflow-hidden">
        <label class="position-absolute top-100 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
          for="banner_img"> <i class="fs-6 bi bi-pencil-square"> </i></label>
        <input name="banner_img" id="banner_img" onchange="previewBanner()" type="file" accept="image/*" />
        <div id="bannerImg" class="px-3 pt-0 pb-4 rounded-3 mb-2 border border-dark" style="background-image: url({{user.dataValues.banner}}); background-size: cover; background-repeat: no-repeat">
          <div class="media align-items-end profile-head rounded-circle">
            <div class="profile mr-3 position-relative">

              <label class="position-absolute top-0 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
                for="profile_img"> <i class="fs-6 bi bi-pencil-square"> </i></label>
              <input name="profile_img" id="profile_img" type="file" accept="image/*"    onchange="previewProfile()"/>

              <label for="profile_img">
                <img id="imgProfile" src="{{user.dataValues.profile}}" alt="..." width="100" height="100"
                  class="rounded-3 border-3 border-dark shadow-lg" />
              </label>
            </div>
            <div class="media-body mb-4 text-white position-relative">
              <label for="user_name"
                class="position-absolute top-0 start-12 translate-middle badge p-2 bg-secondary rounded-circle"
                for="profile">
                <i class="fs-6 bi bi-pencil-square"> </i>
              </label>
              <input id="user_name" class="overflow-hidden text-white mt-1 mb-1 input-name" type="text" name="user_name"autocomplete="off" value="{{user.dataValues.user_name}}" onchange="activateButton()"/>
              <p class="small mb-4">
                <i class="fas fa-map-marker-alt mr-2"></i>#
                {{user.dataValues.id}}
              </p>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <h5 class="mb-1 mt-2 text-white">Sobre</h5>
          <div class="p-4 mt-4 rounded shadow-sm bg position-relative">
            <label for="descricao"
              class="position-absolute top-0 start-0 translate-middle badge p-2 bg-secondary rounded-circle"
              for="profile">
              <i class="fs-6 bi bi-pencil-square"> </i>
            </label>
            <input id="descricao" class="overflow-hidden font-italic text-white-50 mb-0 input-sobre" type="text" name="descricao" autocomplete="off" value="{{user.dataValues.descricao}}" onchange="activateButton()"/>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button id="submit" type="submit" class="mt-5 disabled submit btn btn-dark p-2" onclick="load()">Enviar</button>
        </div>
        <div class="d-flex hidden loader text-white-50 justify-content-center">
          <div class="spinner-border m-2" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
           indo...
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  const imgProfile = document.getElementById('imgProfile');
  const banner_img = document.getElementById('bannerImg');
  const button = document.getElementById('submit');
  function load() {
    const loader = document.querySelector('.loader');
    loader.classList.remove('hidden');

  }
  function activateButton() {
    button.classList.remove('disabled');
  }
  function previewProfile() {
    
    imgProfile.src=URL.createObjectURL(event.target.files[0]);
    button.classList.remove('disabled');
  }
  function previewBanner() {
    banner_img.style.backgroundImage = `url(${URL.createObjectURL(event.target.files[0])})`;
    button.classList.remove('disabled');
  }
  
</script>