<div class="px-1 mt-5 accordion accordion-flush " id="accordionFlushExample">
  <div class="accordion-item rounded ">
    <h2 class="accordion-header rounded " id="flush-headingOne">
      <button class="rounded accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{__ "new_history.how_add_img"}}
      </button>
    </h2>
    <div id="flush-collapseOne" class="rounded accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body rounded">
        <p>
          {{__ "new_history.answer_how_add_img"}}
        <br>
           <a href="https://i.ibb.co/mS73Jth/ezgif-com-gif-maker-2-min-1.gif" target="_blank"><strong class="text-success" style="cursor: pointer;"> {{__ "new_history.see_example"}}</strong> </a> 
        </p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        {{__ "new_history.how_embed"}}
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p class="text-white">
          {{__ "new_history.answer_how_embed"}}
        <br>
          <a href="https://i.ibb.co/tHkrSNN/ezgif-com-gif-maker-3-min.gif" target="_blank"><strong class="text-success" style="cursor: pointer;">{{__ "new_history.see_example"}} </strong> </a> <br><br>
          <strong>ps:</strong> {{__ "new_history.answer_how_embed_ps"}}
        </p>
      </div>
    </div>
  </div>
</div>
<script src="../../js/clipboard-polyfill.js"></script>
