<head>
  <title>{{user.user_name}} | {{user.descricao}}</title>
  <meta name="title" content="{{user.user_name}} | {{user.descricao}}">
  <meta name="author" content="{{user.user_name}}">
  <meta name="description" content="{{user.user_name}} | {{user.descricao}}">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.bwlog.dev/autor/{{user.id}}/{{user.user_name}}">
  <meta property="og:title" content="{{user.user_name}} | {{user.descricao}}">
  <meta property="og:description" content="{{user.user_name}} | {{user.descricao}} | bwlog">
  <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:image" content="{{resetImg user.profile}}">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.bwlog.dev/autor/{{id}}/{{slug}}">
  <meta property="twitter:title" content="{{user.user_name}}">
  <meta property="twitter:description" content="{{user.user_name}} | {{user.descricao}}">
  <meta property="twitter:image" content="{{resetImg user.profile}}">
  <!-- MS, fb & Whatsapp -->
  <!-- MS Tile - for Microsoft apps-->
  <meta name="msapplication-TileImage" content="{{resetImg user.banner}}">
  <!-- fb & Whatsapp -->
  <!-- Site Name, Title, and Description to be displayed -->
  <meta property="og:site_name" content="bwlog">
  <meta property="og:title" content="{{user.user_name}}">
  <meta property="og:description" content="{{user.user_name}} | {{user.descricao}}">
  <link itemprop="thumbnailUrl" href="{{resetImg user.profile}}"> 
  <meta property="og:url" content="https://www.bwlog.dev/autor/{{user.id}}/{{user.user_name}}">
</head>
<span itemprop="image" itemscope itemtype="image/jpeg"> 
  <link itemprop="url" href="{{resetImg user.profile}}"> 
</span>