<head>
  <title>{{post.titulo}} | {{post.user.user_name}}</title>
  <meta name="author" content="{{post.user.user_name}}">
  <meta name="title" content="{{post.titulo}} | {{post.descricao}} | {{post.user.user_name}}">
  <meta name="description" content="{{post.titulo}} | {{post.descricao}}">
  <!-- Open Graph / Facebook -->
  <meta property="og:updated_time" content="1440432930" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.bwlog.dev/post/{{post.slug}}">
  <meta property="og:title" content="{{post.user.user_name}}">
  <meta property="og:description" content="{{post.titulo}} | {{post.descricao}}">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  {{#if post.banner_img}}
  <meta property="og:image:secure_url" content="{{post.banner_img}}">
  {{else}}
  <meta property="og:image:secure_url" content="https://www.bwlog.dev/img/bwlog_banner.png">
  {{/if}}
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.bwlog.dev/post/{{post.slug}}">
  <meta property="twitter:title" content="{{post.titulo}} | {{post.descricao}} | {{post.user.user_name}}">
  <meta property="twitter:description" content="{{post.titulo}} | {{post.descricao}} | {{post.user.user_name}}">
  {{#if post.banner_img}}
  <meta property="twitter:image" content="{{post.banner_img}}">
  {{else}}
  <meta property="twitter:image" content="https://www.bwlog.dev/img/bwlog_banner.png">
  {{/if}}
  <!-- MS, fb & Whatsapp -->
  <!-- MS Tile - for Microsoft apps-->
  {{#if post.banner_img}}
  <meta name="msapplication-TileImage" content="{{post.banner_img}}">
  {{else}}
  <meta name="msapplication-TileImage" content="https://www.bwlog.dev/img/bwlog_banner.png">
  {{/if}}
  <!-- fb & Whatsapp -->
  <!-- Site Name, Title, and Description to be displayed -->
  <meta property="og:site_name" content="{{post.user.user_name}} | bwlog">
  <meta property="og:title" content="{{post.titulo}}">
  <meta property="og:description" content="{{post.titulo}} | {{post.descricao}}">
  <!-- Website to visit when clicked in fb or WhatsApp-->
  {{#if post.banner_img}}
  <link itemprop="thumbnailUrl" href="{{post.banner_img}}">
  {{else}}
  <link itemprop="thumbnailUrl" href="https://www.bwlog.dev/img/bwlog_banner.png">
  {{/if}}
</head>
<span itemprop="image" itemscope itemtype="image/jpeg">
  {{#if post.banner_img}}
  <link itemprop="url" href="{{post.banner_img}}">
  {{else}}
  <link itemprop="url" href="https://www.bwlog.dev/img/bwlog_banner.png">
  {{/if}}
</span>
