<section class="row row-cols-md-1" data-masonry='{"percentPosition": true }'>
  {{#each posts}}
  {{#if @first}}
    <a class="col-lg-6 rounded-3 mb-1" href="/post/{{slug}}">
    <div class="post">
      <div class="card m-2 text-center">
        <img class="post_cover_img mb-1" src="{{banner_img}}" alt="" width="1000" height="420" style="padding: 0rem !important;">
        <div class="card-body px-3 bg border border-dark shadow rounded rounded-2">
          <h1 class="card-title text-titulo text-light fs-3 mb-1">
            {{titulo}}
          </h1>
          <p class="text-white-50 text-format text-descricao" style="margin-bottom: 0;">
            {{descricao}}
          </p>
          <small class="card-text text-info my-1 text-autor">
            by: {{user.user_name}}
          </small>        
        </div>
      </div>
    </div>
    </a>
  {{else}}
  <a class="col-lg-6 rounded-3 mb-1" href="/post/{{slug}}">
  <div class="post">
    <div class="card m-2 text-center">
      <div class="card-body px-3 bg border border-dark shadow rounded rounded-2">
        <h1 class="card-title text-titulo text-light fs-3 mb-1">
          {{titulo}}
        </h1>
        <p class="text-white-50 text-format text-descricao" style="margin-bottom: 0;">
          {{descricao}}
        </p>
        <small class="card-text text-info my-1 text-autor">
          by: {{user.user_name}}
        </small>        
      </div>
    </div>
  </div>
  </a>  
  {{/if}}
  {{/each}}
</section>
<script defer src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
